@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

:root{
	--color-primary: #0284C7;
	--color-success: #36D977;
	--color-warning: #F2AA3D;
	--color-danger: #E63939;
	--color-info: #FF4066;
}

body {
	height: 100vh;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: '思源黑体';
}

.el-table th.gutter{
  	display: table-cell!important;
}

html {
	height: 100%;
	box-sizing: border-box;
}

#app {
  	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a:focus,
a:active {
  	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

div:focus {
  	outline: none;
}

li{
  	list-style: none;
}

.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.bold{
  	font-weight: bold;
}

// main-container global css
.app-container {
  	padding: 20px;
}

.top-operation-wrap{
	padding-bottom: 10px;
	.el-input{
		width: 200px;
		display: inline-block;
	}
}

.app-main{
	.app-main-wrap{
		margin: 18px 24px;
	}
	.template-card{
		margin: 10px;
		
		&.from-game{
			box-shadow: none;
			border: none;
		}
	}
} 

.el-pagination{
  	text-align: right;
}

.overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-hover:hover{
  	color: var(--color-primary) !important;
}

.el-page-header__left:hover{
  	color: var(--color-primary);
}

.detail-header-wrap{
	overflow: hidden;
	display: flex;
	.el-page-header__left{
		align-items: center;
		&:hover{
			color: var(--color-primary);
		}
	}
	.el-page-header{
		float: left;
		width: 400px;
	}
	.header-right{
		float: right;
		width: 400px;
		text-align: right;
		span{
			cursor: pointer;
			&:hover{
				color: var(--color-primary);
				& i{
					color: var(--color-primary);
				}
			}
			i{
				margin-right: 2px;
				color: #999;
			}
		}
	}
	.title{
		flex: 1;
		text-align: center;
	}
}

// margin-top
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}

// margin-bottom
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}

// margin-left
.ml10{
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
.ml30{
  margin-left: 30px;
}

// margin-right
.mr10{
  margin-right: 10px;
}
.mr20{
  margin-right: 20px;
}
.mr30{
  margin-right: 30px;
}

.w220{
	width: 220px !important;
	vertical-align: middle;
}

.w220.el-input, .w220.el-input-number, .w220.el-select{
  width: 220px !important;
}

.w200.el-input, .w200.el-input-number, .w200.el-select{
  width: 200px !important;
}

.w100.el-input, .w100.el-input-number, .w100.el-select{
	width: 100% !important;
  }


.search-list-wrap{
  .search-list{
      padding-bottom: 10px;
      .title{
          font-size: 14px;
          color: #515a6e;
          line-height: 30px;
      }
      .region-select{
          width: 128px;
          margin-right: 10px;
      }
      .focus{
          color: #8484FF;
          border-color: #dadaff;
          background-color: #f3f3ff;
      }
      .el-button{
          margin: 0 10px 10px 0;
      }
  }
}

.el-drawer__header>:first-child{
  outline: none;
}

.no-data{
  line-height: 40px !important;
  text-align: center;
}

.el-image{
  text-align: center;
}
.el-image__placeholder::before{
  content: '加载中...';
  font-size: 12px;
  color: #999;
  line-height: 60px;
  text-align: center;
}

.text-hight{
  color: #ff2e63;
}

.add-and-search{
	min-height: 30px;
	.el-input{
		display: inline-block;
		width: 220px;
		margin: 0 10px;
	}

	.search-input{
		display: inline-block;
	}
}

.text-align-right{
	text-align: right;
}

.hidden-scroll-x .el-scrollbar__wrap{
	overflow-x: hidden;
}

.hidden-scroll-y .el-scrollbar__wrap{
	overflow-y: hidden;
}

a.underline{
	text-decoration: underline;
	color: var(--color-primary);
}

.flex{
	display: flex;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between-center{
	display: flex;
	justify-content: space-between;
	align-items: center;
}