@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: '思源黑体';
}

.el-table th.gutter{
  display: table-cell!important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

li{
  list-style: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.top-operation-wrap{
  padding-bottom: 10px;
  .el-input{
    width: 200px;
    display: inline-block;
  }
}

.app-main{
  .app-main-wrap{
    margin: 18px 24px;
  }
  .template-card{
    margin: 10px;
  }
} 

.el-pagination{
  text-align: right;
}

.overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-hover:hover{
  color: $--color-primary !important;
}

.el-page-header__left:hover{
  color: $--color-primary;
}

.detail-header-wrap{
  overflow: hidden;
  .el-page-header__left:hover{
      color: $--color-primary;
  }
  .el-page-header{
      float: left;
      width: 100px;
  }
  .header-right{
      float: right;
      width: 320px;
      text-align: right;
      span{
          cursor: pointer;
          &:hover{
              color: $--color-primary;
              & i{
                  color: $--color-primary;
              }
          }
          i{
              margin-right: 2px;
              color: #999;
          }
      }
  }
  .title{
      margin: 0 250px 0 100px;
      text-align: center;
  }
}

// margin-top
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}

// margin-bottom
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30{
  margin-bottom: 30px;
}

// margin-left
.ml10{
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
.ml30{
  margin-left: 30px;
}

// margin-right
.mr10{
  margin-right: 10px;
}
.mr20{
  margin-right: 20px;
}
.mr30{
  margin-right: 30px;
}

.w220.el-input{
  width: 220px;
}

.w200.el-input{
  width: 200px;
}

.search-list-wrap{
  .search-list{
      padding-bottom: 10px;
      .title{
          font-size: 14px;
          color: #515a6e;
          line-height: 30px;
      }
      .region-select{
          width: 128px;
          margin-right: 10px;
      }
      .focus{
          color: #8484FF;
          border-color: #dadaff;
          background-color: #f3f3ff;
      }
      .el-button{
          margin: 0 10px 10px 0;
      }
  }
}

.el-drawer__header>:first-child{
  outline: none;
}