.content-details{
    .resource-wrap{
        .left{
            float: left;
            width: 640px;
            text-align: center;
            .el-image{
                max-width: 640px;
            }
            video{
                width: 640px;
                height: 400px;
                background: #000;
            }
        }
        .right{
            float: left;
            margin-left: 10px;
            .el-form-item{
                margin-bottom: 5px;
            }
        }
        
    }
    .info-title{
        .edit-btn{
            vertical-align: top;
            margin-left: 20px;
        }
    }
    .content-item{
        padding: 10px 0;
        &.play-limit{
            ul{
                border: 1px solid #adadad;
                border-radius: 3px;
                width: 640px;
                li{
                    border-top: 1px solid #adadad;
                    line-height: 20px;
                    font-size: 14px;
                    &.t-header{
                        border: none;
                        font-size: 16px;
                        background: rgba(132, 132, 255, 0.3);
                    }
                    &.no-data{
                        padding: 10px;
                        text-align: center;
                    }
                    span{
                        display: block;
                        float: left;
                        padding: 10px 5px;
                        text-align: center;
                        &.week{
                            width: 340px;
                        }
                        &.date, &.type{
                            width: 148px;
                            border-left: 1px solid #adadad;
                        }
                    }
                }
            }
        }

        &.play-plan{
            .el-form-item{
                margin-bottom: 10px;
            }
        }

        &.timeline{
            li{
                width: 432px;
                height: 66px;
                border-radius: 8px;
                border: solid 1px #adadad;
                margin-bottom: 10px;
                padding: 0 10px;
                .t-content{
                    width: 360px;
                    display: inline-block;
                    .title{
                        line-height: 24px;
                        color: #4c4c4c;
                        padding-top: 6px;
                        cursor: pointer;
                        &:hover{
                            color: $--color-primary;
                        }
                    }
                    .play-limit{
                        line-height: 24px;
                        padding-top: 6px;
                        color: #808080;
                        font-size: 14px;
                        span.limit-item{
                            margin-right: 30px;
                        }
                        .highlight{
                            color: #4c4c4c;
                            margin-left: 5px;
                        }
                    }
                }
                .right-icon{
                    cursor: pointer;
                    display: inline-block;
                    width: 40px;
                    text-align: right;
                    color: $--color-primary;
                    line-height: 66px;
                }
            }
        }
    }
}
.play-limit-edit{
    .created-btn{
        display: block;
        margin: 0 auto 20px;
    }
    .limit-time{
        display: inline-block;
    }
    .limit-star-time{
        margin-right: 10px;
    }
    ul{
        border: 1px solid #adadad;
        border-radius: 3px;
        width: 640px;
        li{
            border-top: 1px solid #adadad;
            line-height: 20px;
            font-size: 14px;
            &.t-header{
                border: none;
                font-size: 16px;
                background: rgba(132, 132, 255, 0.3);
                .del{
                    color: #606266;
                }
            }
            &.no-data{
                padding: 10px;
                text-align: center;
            }
            &>span{
                display: block;
                float: left;
                padding: 10px 5px;
                text-align: center;
                &.week{
                    width: 300px;
                }
                &.date, &.type{
                    width: 140px;
                    border-left: 1px solid #adadad;
                }
                &.del{
                    width: 50px;
                    border-left: 1px solid #adadad;
                    color: $--color-danger;
                    cursor: pointer;
                    &:hover{
                        color: $--color-info;
                    }
                }
            }
        }
    }
}