.screen-details{
    .header-wrap{
        overflow: hidden;
        .el-page-header__left:hover{
            color: $--color-primary;
        }
        .el-page-header{
            float: left;
            width: 100px;
        }
        .header-right{
            float: right;
            width: 200px;
            span{
                cursor: pointer;
                &:hover{
                    color: $--color-primary;
                    & i{
                        color: $--color-primary;
                    }
                }
                i{
                    margin-right: 2px;
                    color: #999;
                }
            }
        }
        .title{
            margin: 0 200px 0 100px;
            text-align: center;
        }
    }

    .content{
        padding: 20px 0;
        .screen-info-left{
            .screen-img{
                width: 100%;
                position: relative;
                overflow: hidden;
                img{
                    width: 100%;
                }
                .status{
                    position: absolute;
                    top: 30px;
                    left: -2px;
                    z-index: 10;
                }
                .el-tag{
                    height: 40px;
                    padding: 0 40px;
                    line-height: 40px;
                    font-size: 16px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }
        .screen-info-right{
            border-left: 1px solid #e5e5e5;
            .info-item{
                &.photo{
                    margin-top: 10px;
                    .el-image{
                        width: 100px;
                        height: 100px;
                        border-radius: 6px;
                        margin: 0 10px 10px 0;
                    }
                }
            }
            .el-form-item{
                margin: 0;
            }
        }
    }

}